/* Table */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Pediatrics Chart Your Career */
.c-table--chart-career {
    display: block;
    @media (min-width: $second-breakpoint-value) {
        width: 100%;
        border-collapse: collapse;
        display: table;
    }
}

.c-table--chart-career__inner {
    display: block;
    @media (min-width: $second-breakpoint-value) {
        display: table-row-group;
    }
}

.c-table--chart-career__inner-row {
    display: block;
    border: 1px solid $grey--medium;
     @media (min-width: $second-breakpoint-value) {
        display: table-row;
        padding: 15px;
        text-align: left;
        line-height: 1.333em;
    }
}

.c-table--chart-career__inner-header {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
    @media (min-width: $second-breakpoint-value) {
        position: static;
        top: 0;
        left: 0;
        display: table-cell;
        background: $grey--dark;
        color: $white;
        font-weight: bold;

    }
}

.c-table--chart-career__inner-cell {
    display: block;
    /*Behave  like a "row" */
    position: relative;
    padding-left: 60%;
    @media (max-width: $second-breakpoint-value){
       &:before {
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        &:nth-of-type(1):before {
            content: "Field";
            font-weight: bold;
        }
        &:nth-of-type(2):before {
            content: "CA";
            font-weight: bold;
        }
        &:nth-of-type(3):before {
            content: "CM1/CM2";
            font-weight: bold;
        }
        &:nth-of-type(4):before {
            content: "AD/Director";
            font-weight: bold;
        } 
    }
    @media (min-width: $second-breakpoint-value) {
        display: table-cell;
        padding: 15px;
        border: 1px solid $grey--medium;
        text-align: left;
        line-height: 1.333em;
    }
}

.c-table-chart-career__inner-cell--header {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: $red;
}

/* ---------------- */

/* ALS Events Table */

.c-table--als-events {
    display: block;
    @media (min-width: $second-breakpoint-value) {
        width: 100%;
        border-collapse: collapse;
        display: table;
    }
}

.c-table-als-events__inner {
    display: block;
    @media (min-width: $second-breakpoint-value) {
        display: table-row-group;
    }
}

.c-table-als-events__inner-row {
    display: block;
    border: 1px solid $grey--medium;
    &:nth-of-type(odd) {
        background: $grey--light;
    }
     @media (min-width: $second-breakpoint-value) {
        display: table-row;
        padding: 15px;
        text-align: left;
        line-height: 1.333em;
    }
}

.c-table-als-events__inner-header {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
    @media (min-width: $second-breakpoint-value) {
        position: static;
        top: 0;
        left: 0;
        display: table-cell;
        background: $grey--dark;
        color: $white;
        font-weight: bold;

    }
}

.c-table-als-events__inner-cell {
    display: block;
    /*Behave  like a "row" */
    position: relative;
    padding-left: 60%;
    @media (max-width: $second-breakpoint-value){
       &:before {
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        &:nth-of-type(1):before {
            content: "Date";
            font-weight: bold;
        }
        &:nth-of-type(2):before {
            content: "Event";
            font-weight: bold;
        }
        &:nth-of-type(3):before {
            content: "Location";
            font-weight: bold;
        } 
    }
    @media (min-width: $second-breakpoint-value) {
        display: table-cell;
        padding: 15px;
        border: 1px solid $grey--medium;
        text-align: left;
        line-height: 1.333em;
    }
}

/* ------------ */

/* Benefits */

.c-table--benefits {
    margin: 15px;
    width: 100%;
    border-collapse: collapse;
    display: table;
}

.c-table--benefits__inner {
    display: table-row-group;
}

.c-table--benefits__inner-header {
    color: $red;
    font-weight: bold;
}

.c-table--benefits__inner-row {
    border: 1px solid $grey--medium;
    padding: 15px;
    text-align: left;
}

.c-table--benefits__inner-cell {
    padding: 15px;
    border: 1px solid $grey--medium;
    text-align: left;
    line-height: 1.333em;
}
/* ------------ */

/* Faux */

.c-table--faux {
    border: 1px solid $grey--dark;
    overflow: hidden;
}
.c-table--faux__header {
    color: $white;
    background: $grey--dark;
    text-align: center;
}
/* ------------ */

/* Glossary */ 

.c-table--glossary {}

.c-table--glossary__inner {}

.c-table--glossary__inner-header {
    border: 1px solid $grey--medium;
    padding: 15px;
    vertical-align: middle;
    font-weight: bold;
}

.c-table--glossary__inner-row {
    padding-bottom: 15px;
    border-bottom: 1px $grey--medium solid;
    line-height: 150%;
}

.c-table--glossary__inner-cell {
    padding: 15px;
    vertical-align: middle;
}

/* ------------ */