// Font declarations

@font-face {
  font-family: bayada-icons-J32TgWv;
  src: url(../fonts/bayada-webfont/bayada-icons-J32TgWv.eot);
  src: url(../fonts/bayada-webfont/bayada-icons-J32TgWv.eot) format("embedded-opentype"), url(../fonts/bayada-webfont/bayada-icons-J32TgWv.woff) format("woff"), url(../fonts/fonts/bayada-webfont/bayada-icons-J32TgWv.ttf) format("truetype"), url(../fonts/bayada-webfont/bayada-icons-J32TgWv.svg) format("svg");
  /*?#bayada-icons-J32TgWv*/
  /*?#iefix*/
  
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'frutiger-bold';
  src: url(../fonts/frutigerltstd-boldcn-webfont.eot);
  src: url(../fonts/frutigerltstd-boldcn-webfont.eot) format('embedded-opentype'), url(../fonts/frutigerltstd-boldcn-webfont.woff) format('woff'), url(../fonts/fonts/frutigerltstd-boldcn-webfont.ttf) format('truetype'), url(../fonts/frutigerltstd-boldcn-webfont.svg) format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'frutiger-light';
  src: url(../fonts/frutigerltstd-light-webfont.eot);
  src: url(../fonts/frutigerltstd-light-webfont.eot) format('embedded-opentype'), url(../fonts/frutigerltstd-light-webfont.woff) format('woff'), url(../fonts/fonts/frutigerltstd-light-webfont.ttf) format('truetype'), url(../fonts/frutigerltstd-light-webfont.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bembo-italic';
  src: url(../fonts/bembostd-italic-webfont.eot);
  src: url(../fonts/bembostd-italic-webfont.eot) format('embedded-opentype'), url(../fonts/bembostd-italic-webfont.woff) format('woff'), url(../fonts/fonts/bembostd-italic-webfont.ttf) format('truetype'), url(../fonts/bembostd-italic-webfont.svg) format('svg');
  font-weight: normal;
  font-style: italic;
}