/* Main Content */
@import "../lib/bourbon/bourbon";
@import "../lib/neat/neat";
@import "grid-settings";

.l-row-wrapper {
@include row();
}

.l-container {
@include outer-container;
}

.l-main {
@include fill-parent();
@include pad(15px);

@include media($tablet){
@include span-columns(8);
}
}

.l-main--full {
@include fill-parent();
@include pad(15px);
}

.l-sidebar {
@include fill-parent();
@include pad(15px);

@include media($tablet){
@include span-columns(4);
}
}

.l-sidebar--border {
@include media($desktop) {
border-left: 1px solid $grey--medium;
margin-top: 50px;
height: 1000px;
}
}

.l-main--one-half {
@include fill-parent();
@include pad(15px);
    
@include media($tablet){
@include span-columns(6);
}
}

.l-main--one-third {
@include fill-parent();
@include pad(15px);
@include media($tablet){
@include span-columns(4);
}
}

.l-index--intro { 
@include fill-parent();
@include pad(15px);
}

.l-index--intro__text {
font-size: $honor;
text-align: center;
margin-top: 20px;
}

.l-index--intro__title {
font-weight: 600;
margin-top: 40px;
margin-bottom: 20px;
text-align: center;
}
