/* MAP BANNERS */

/* Mixins */

@mixin cta-button-container($text-align) {
	text-align: $text-align;
}

@mixin cta-button($bg-color, $width, $border-color){
	$default-hover-color: $red;
	display: block;
	/*default width is 225px;*/
	width: $width;
	padding: 7px 2px;
	margin: 7.5px auto;
	border-radius: 10px;
	background-color: $bg-color;
	border: 2px solid $border-color;
	text-align: center;
	&:hover {
		background-color: saturate($default-hover-color, 50%);
	}
	@include media($desktop) {
		display: inline-block;
	}
}

@mixin cta-button__link($color, $hover) {
	color: $color;
	font-size: $charity;
	text-decoration: none;
	&:hover {
		color: $hover;
	}
}


/* Containers */

.c-banner--map {
	display: block;
	margin: 0 auto;
	min-height: 400px;
	padding-top: 100px;
	padding-bottom: 60px;
	@include media($desktop) {
		min-height: 600px;
	}
}

/* Map images */

.c-banner__background--map {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background: url(../../img/banners/map-1900x814-A.jpg) no-repeat center;
	@include media($desktop) {
		background: url(../../img/banners/map-1900x814-A.jpg) center no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
}

.c-banner__background--map-bu {
	background: url(../../img/mobile-banners/EDU-map-mobile.jpg) center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	@include media($desktop) {
		background: url(../../img/banners/EDU-map.jpg) center no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

/* Map overlays */

.c-banner__overlay--map {
	background-color: rgba(255, 255, 255, 0.95);
	max-width: 800px;
	margin: 0 auto;
}

.c-banner__overlay--map-col {
	margin: 15px auto;
    text-align: center;
    @include pad(15px);
    @include media($tablet) {
    	width: 33%;
    	height: 225px;
    	float: left;
    	padding-top: 30px;
    }
    &:not(:nth-child(3n)){
		border-right: 2px solid $grey--medium;
	}
}

.c-banner__overlay--map-col--num {
		font-weight: bold;
    	color: $red;
    	font-size: $warmth;
    	text-align: center;
}

.c-banner__overlay--map-col--fact {
    	font-size: $honor;
    	text-align: center;
}


/* Map CTAs */

.c-cta--map {
	@include cta-button-container($text-align: center);
	padding: 15px;
	&::before {
		content: "";
    	clear: both;
    	display: table;
	}
}

.c-cta-button--map {
	@include cta-button($bg-color: $red, $width: 300px, $border-color: none);
}

.c-cta-button__link--map {
	@include cta-button__link($color: $white, $hover: $white);
}
